.header{
  position:fixed;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding:0.75em 1em;
  margin:0;
  background-color: #0F4C75;
  color:#fff;
  width:100%;
  z-index: 2;
}
