.userIcon{
    display: block;
    text-align: center;
    font-size: 8rem;
    color: rgb(241, 241, 241);
}

.userCorreo{
    text-align: center;
    color: rgb(241, 241, 241);
    margin-bottom: 2rem;
}