.cards
{
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.card
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #333333;
  color: rgb(240, 240, 240);
}

.card h2, .card p, .card span
{
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.cards h2
{
  font-size: 1rem;
  
}

.listDetail{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width:calc(100% - 64px);
}


.addBtn{
  width: 32px;
  height:32px;
  display:flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0.25rem;
  right:0.5rem;
  color:#333;
  background-color: #ddd;
  box-shadow: 1px 1px 5px #000;
  border-radius: 50%;
  font-size: 1.5rem;
}